<!-- NAVBAR -->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="./">
            <img src="https://i.imgur.com/fhk0lqb.png" height="40" style="border: 0;">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="./#brute-stats">
                Estadísticas
            </a>

            <a class="navbar-item" href="./#grid-graphs">
                Gráficas

            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Jugadores
                </a>
                <div class="navbar-dropdown">
                    {% for p in playerList %}
                        <a class="navbar-item" href="?pag=perfil&user={{ p.username }}">
                            {{ p.username }}
                        </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <nav class="level">
                    <div class="level-item ">
                        <span id="server-status" class="server-status" type="up"></span>
                    </div>
                    <div class="level-item ml-4 mr-3">
                        <p id="server-latency"></p>
                    </div>
                    <div class="level-item">
                        <span id="server-version" class="tag is-dark"></span>
                    </div>
                </nav>
            </div>

        </div>


    </div>

</nav>
<!-- /NAVBAR -->
<script src="js/navbar.js"></script>
